@import "tailwindcss";

@media print {
  .main-navbar, .main-footer {
    display: none !important;
  }

  .no-print {
    display: none !important;
    border: none !important;
    box-shadow: none !important;
  }

  #printable-form-container {
    box-shadow: none !important;
    border: none !important;
  }

  #printable-form, .form-container {
    background: transparent !important;
    padding: 0 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    border: none !important; 
  }
  
}
